.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.list-box {
/*  box-sizing: border-box;
  max-width: 240px;
  min-width: 200px;
  margin: 10px 10px;
  padding: 20px;*/
  width: 280px;
  margin: 10px 10px;
}

.list-box a {
  color: #363636;
}

.flower-image {
  width: 240px;
  height: 125px;
}
