.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.list-box {
  box-sizing: border-box;
  max-width: 200px;
  width: 200px;
  min-width: 200px;
  margin: 20px; 
}

.flower-image {
  width: 200px;
  height: 125px;
}
